<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="ZenDao_聚合数据测试">

    <test name="ZenDao_聚合数据测试">
        <classes>
<!--            <class name="com.tester.cases.ZenDao">-->
<!--                <methods>-->
<!--                    <include name="login"></include>-->
<!--                    <include name="test01"></include>-->
<!--                    <include name="test02"></include>-->
<!--                    <include name="test03"></include>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.tester.cases.JuHe_Api">
                <methods>
                    <include name="LotteryResultsQuery"></include>
                    <include name="IDCardQuery"></include>
                </methods>
            </class>
            <class name="com.tester.cases.JuHe_V">
                <methods>
                    <include name="JokeQuery"></include>
<!--                    <include name="XinhuaDictionaryy"></include>-->
                    <include name="BookClassification"></include>
                </methods>
            </class>
        </classes>



    </test>

    <listeners>
        <listener class-name="com.tester.config.ExtentTestNGIReporterListener" />
    </listeners>

</suite>