<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="ClientTest" parallel="methods" thread-count="2">

    <test name="ClientTest">
        <classes>
            <class name="com.tester.cases.testReTry">
                <methods>
                    <include name="success"></include>
                    <include name="fail"></include>
                </methods>
            </class>
            <class name="com.tester.cases.ZenDao">
                <methods>
                    <include name="login"></include>
                    <include name="test01"></include>
                    <include name="test02"></include>
                    <include name="test_addBug"></include>
                </methods>
            </class>
            <class name="com.tester.cases.JuHe_Api">
                <methods>
                    <include name="LotteryResultsQuery"></include>
                    <include name="IDCardQuery"></include>
                </methods>
            </class>
            <class name="com.tester.cases.JuHe_V">
                <methods>
                    <include name="JokeQuery"></include>
                    <include name="XinhuaDictionaryy"></include>
                    <include name="BookClassification"></include>
                </methods>
            </class>
            <class name="com.tester.cases.SystemTest">
                <methods>
                    <include name="login"></include>
                    <include name="test_findAllProject"></include>
                    <include name="test_upload"></include>
                    <include name="test_addProject"></include>
                </methods>
            </class>
        </classes>



    </test>

    <listeners>
        <listener class-name="com.tester.config.ExtentTestNGIReporterListener" />
        <listener class-name="com.tester.utils.OverrideIAnnotationTransformer" />
        <listener class-name="com.tester.config.GetResultSize"></listener>
    </listeners>
    
    

</suite>